{% extends "../base.html" %}

{% load static %}

{% block title %}
<title>{{question.title}}</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/status.css' %}" />
<link rel="stylesheet" href="{% static 'styles/detail.css' %}" />
{% endblock style %}

{% block banner %}
{% endblock banner %}

{% block main %}
<main>
  {% if not question.status %}
  <p class="status fill-help">도와주세요</p>
  {% else %}
  <p class="status fill-done">해결됐어요</p>
  {% endif %}
  <h2>{{question.title}}</h2>
  <div id="info">
    <p>{{question.name|default:"익명"}}</p>
    <p>{{question.upload_time|date:"Y-m-d H:i"}}</p>
  </div>
  <hr />
  <p id="content">{{question.content}}</p>
</main>
{% endblock main %}

{% block aside %}
<aside>
  <h3>이 질문도 도와주세요!</h3>
  <ol>
    {% for help_question in help_questions %}
    <li>
      <a href="{% url 'question_detail' id=help_question.id %}">
        <p>{{help_question.title}}</p>
      </a>
    </li>
    {% endfor %}
  </ol>
</aside>
{% endblock aside %}
