<!-- templates/index.html -->
{% load static %}

<!DOCTYPE html>
<!-- < lang="en"> -->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'community/css/list.css' %}">
    </head>

{% if not user.is_authenticated %}
    <a href="{% url 'signup' %}">회원가입하기</a>
    <a href="{% url 'login' %}">로그인하기</a>
{% endif %}
{% if user.is_authenticated %}
    <a href="{% url 'logout' %}">로그아웃하기</a>
    <p>로그인 한 사람: {{ user.username }}
        <br>
        <hr>
        아이디: {{user.username}} 닉네임: {{user.nickname}} 대학: {{user.university}} 학과: {{user.major}} 학기: {{user.semester}} 위치: {{user.location}}
    </p>    
{% endif %}

<body>
    <div class="content">
        <h1>🦁 아기사자 대나무숲 🦁</h1>
        <div class="board-container">
            <h2>🖇️ 자유 게시판</h2>
            <a href="{%url 'post_new' %}" class="write-link">새로운 자유 게시글 작성</a>
            <ul>
                {% for post in posts %}
                <div class="post-container">
                    <h3>{{post.title}}</h3>
                    <p class="post-date">{{post.upload_time}}</p>
                    <br />
                    <p class="post-text">
                        {{post.summary}}
                        <a href="{% url 'detail' pk=post.id %}">...more</a>
                    </p>
                </div>    
                {% endfor %}
            </ul>
        </div>    
        <div class="board-container">
            <h2>🖇️ 질문 게시판</h2>
            <a href="{%url 'question_new' %}" class="write-link">새로운 질문 게시글 작성</a>
            <ul>
                {% for question in questions %}
                <div class="post-container">
                    <h3>{{question.title}}</h3>
                    <p class="post-date">{{question.upload_time}}</p>
                    <br />
                    <p class="post-text">
                        {{question.summary}}
                        <a href="{% url 'Qdetail' pk=question.id %}">...more</a>
                    </p>
                </div>    
                {% endfor %}
            </ul>
        </div>            
    </div>
</body>
</html>