{% extends "./question_create.html" %}

{% load static %}

{% block title %}
<title>{{question.title}}</title>
{% endblock title %}

{% block url %}
action="{% url 'post_question_update' id=question.id %}"
{% endblock url %}

<!-- placeholder를 value로 바꾸세요! -->

{% block title_attribute %}
placeholder="{{question.title}}"
{% endblock title_attribute %}

{% block content_attribute %}
placeholder="{{question.content}}"
{% endblock content_attribute %}

{% block name_attribute %}
placeholder="{{question.name}}"
{% endblock name_attribute %}

{% block status_attribute %}
{% if question.status %}
checked
{% endif %}
{% endblock status_attribute %}
