{% extends "./question_create.html" %}

{% load static %}

{% block title %}
<title>{{question.title}}</title>
{% endblock title %}

{% block url %}
action="{% url 'post_question_update' question_id=question.id %}"
{% endblock url %}

{% block status %}
<fieldset id="radio-group">
  <label>
	<input
	  type="radio"
	  name="status"
	  value=""
	  {% if not question.status %}
	  checked
	  {% endif %}
	/>
	<p class="status help">도와주세요</p>
  </label>
  <label>
	<input
	  type="radio"
	  name="status"
	  value="done"
	  {% if question.status %}
	  checked
	  {% endif %}
	/>
	<p class="status done">해결됐어요</p>
  </label>
</fieldset>
{% endblock status %}

{% block title_attribute %}
value="{{question.title}}"
{% endblock title_attribute %}

{% block username_attribute %}
{% if question.username %}
value="{{question.username}}"
{% endif %}
{% endblock username_attribute %}

{% block content_defaultValue %}
{{question.content}}
{% endblock content_defaultValue %}

{% block aside %}
<aside>
  <button
	class="primary_button action"
	type="submit"
	form="question_form"
  >
	<svg><use href="#AiFillEdit" /></svg>
	수정하기
  </button>
</aside>
{% endblock aside %}
