{% extends "./base.html" %}

{% load static %}

{% block title %}
<title>질문하기</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/components/primary_button.css' %}" />
<link rel="stylesheet" href="{% static 'styles/components/status.css' %}" />
<link rel="stylesheet" href="{% static 'styles/pages/create.css' %}" />
{% endblock style %}

{% block banner %}
{% endblock banner %}

{% block main %}
<main>
  <form
    id="question_form"
    {% block url %}
    action="{% url 'post_question_create' %}"
    {% endblock url %}
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <fieldset id="radio-group">
	  <label>
        <input type="radio" name="status" value="" />
		<p class="status help">도와주세요</p>
	  </label>
	  <label>
        <input type="radio" name="status" value="done" />
		<p class="status done">해결됐어요</p>
	  </label>
    </fieldset>
    <fieldset>
      <input
        type="text"
        name="title"
        maxlength="50"
        placeholder="제목"
        {% block title_attribute %}
        {% endblock title_attribute %}
      />
    </fieldset>
    <fieldset>
      <input
        type="text"
        name="username"
        maxlength="10"
        placeholder="이름"
        {% block username_attribute %}
        {% endblock username_attribute %}
      />
    </fieldset>
    <hr />
    <fieldset>
      <textarea
        name="content"
        placeholder="내용"
        rows="10"
        required
        {% block content_attribute %}
        {% endblock content_attribute %}
      >{% block content_defaultValue %}{% endblock content_defaultValue %}</textarea>
    </fieldset>
  </form>
</main>
{% endblock main %}

{% block aside %}
<aside>
  <button
	class="primary_button action"
	type="submit"
	form="question_form"
  >
	<svg><use href="#AiOutlineQuestion" /></svg>
	질문하기
  </button>
</aside>
{% endblock aside %}
