{% extends "./base.html" %}

{% load static %}

{% block title %}
<title>Q&A</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/components/status.css' %}" />
<link rel="stylesheet" href="{% static 'styles/pages/list.css' %}" />
{% endblock style %}

{% block banner %}
<section id="banner">
  <img alt="banner-image" src="{% static 'assets/qna_banner.png' %}" />
  <h1>Q&A</h1>
</section>
{% endblock banner %}

{% block main %}
<main>
  <table>
    <thead>
      <tr>
        <th><h3>상태</h3></th>
        <th><h3>제목</h3></th>
        <th><h3>작성자</h3></th>
        <th><h3>일시</h3></th>
      </tr>
    </thead>
    <tbody>
	  {% for question in questions %}
      <tr onclick="location.href=`{% url 'get_question_detail' id=question.id %}`;">
        {% if not question.status %}
        <td><p class="status fill-help">도와주세요</p></td>
        {% else %}
        <td><p class="status fill-done">해결됐어요</p></td>
        {% endif %}
        <td><p>{{question.title}}</p></td>
        <td><p>{{question.name|default:"익명"}}</p></td>
        <td><p class="upload_time">{{question.upload_time|date:"Y-m-d"}}</p></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock main %}

{% block aside %}
<aside>
  <h3>상태별 보기</h3>
  <ol>
    <li>
      <button
        class="status stroke-help"
        type="button"
        onclick="location.href=`/qna?상태=도와주세요`"
      >
        <p>도와주세요</p>
      </button>
    </li>
    <li>
      <button
        class="status stroke-done"
        type="button"
        onclick="location.href=`/qna?상태=해결됐어요`"
      >
        <p>해결됐어요</p>
      </button>
    </li>
  </ol>
  <button
    type="button"
    onclick="location.href=`{% url 'get_question_create' %}`"
  >
    질문하기
  </button>
</aside>
{% endblock aside %}
