{% extends "./question_create.html" %}

{% load static %}

{% block title %}
<title>{{question.title}}</title>
{% endblock title %}

{% block url %}
action="{% url 'post_question_update' question_id=question.id %}"
{% endblock url %}

{% block title_attribute %}
value="{{question.title}}"
{% endblock title_attribute %}

{% block content_attribute %}
{% endblock content_attribute %}

{% block content_defaultValue %}
{{question.content}}
{% endblock content_defaultValue %}

{% block username_attribute %}
{% if question.username %}
value="{{question.username}}"
{% endif %}
{% endblock username_attribute %}

{% block status_attribute %}
{% if question.status %}
checked
{% endif %}
{% endblock status_attribute %}

{% block aside %}
<button
  class="primary_button action"
  type="submit"
  form="question_form"
>
  <svg><use href="#AiFillEdit" /></svg>
  수정하기
</button>
{% endblock aside %}
