{% extends "./base.html" %}

{% load static %}

{% block title %}
<title>질문하기</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/components/status.css' %}" />
<link rel="stylesheet" href="{% static 'styles/pages/detail.css' %}" />
{% endblock style %}

{% block banner %}
{% endblock banner %}

{% block main %}
<main>
  <form
    id="question_form"
    {% block url %}
    action="{% url 'post_question_create' %}"
    {% endblock url %}
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <input
      type="text"
      name="title"
      maxlength="50"
      {% block title_attribute %}
	  {% endblock title_attribute %}
    />
    <textarea
      name="content"
      required
      {% block content_attribute %}
	  {% endblock content_attribute %}
    ></textarea>
    <input
      type="text"
      name="name"
      maxlength="10"
      {% block name_attribute %}
	  {% endblock name_attribute %}
    />
    <input
      type="checkbox"
      name="status"
      {% block status_attribute %}
	  {% endblock status_attribute %}
    />
	<button type="submit">질문하기</button>
  </form>
</main>
{% endblock main %}

{% block aside %}
{% endblock aside %}
