{% load static %}
<link rel="stylesheet" href="{% static 'community/css/detail.css' %}">
<!DOCTYPE html>
<body>
        <div>
            <div class="detail-container">
            <h1>{{ question.title }}</h1>
            <form action="{% url 'question_like' question.pk %}" method="post">
                {% csrf_token %}
                <button type="submit">
                  ❤️ 좋아요 {{ question.likes_count }}
                </button>
              </form>
            <br>
            <span>{{question.upload_time }}</span>
            <p>{{ question.content }}</p>
            <div>
                {% for hashtag in question.hashtag.all %}
                    #{{hashtag}}
                {% endfor %}
            </div>
            <a href="{% url 'add_commentforquestion' question.id %}" class="add_commentforquestion">댓글달기</a>
            {% for comment in question.comments.all %}
                <div class="content">
                    <strong calss="username">{{ comment.username }}</strong>
                    <div class="date">{{ comment.creatae_at }}</div>
                    <p>{{ comment.comment_text | linebreaks }}</p>
                </div>
            {% empty %}
                <p>아직 댓글이 없어요</p>
            {% endfor %}
            <br>
            <div class="detail-actions">
                <a href="{%url 'main' %}">홈으로 돌아가기</a>
                <a href="{%url 'question_delete' question.id %}">삭제하기</a>
                <a href="{%url 'question_update_page' question.id %}">수정하기</a>
            </div>
        </div>
    </div>
    </div>
</body>