{% extends "./base.html" %}

{% load static %}

{% block title %}
<title>{{question.title}}</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/components/primary_button.css' %}" />
<link rel="stylesheet" href="{% static 'styles/components/status.css' %}" />
<link rel="stylesheet" href="{% static 'styles/pages/detail.css' %}" />
{% endblock style %}

{% block banner %}
{% endblock banner %}

{% block main %}
<main>
  <section id="question">
    <article class="detail">
	  <div class="head">
		<div class="top">
		  {% if not question.status %}
		  <p class="status help">도와주세요</p>
		  {% else %}
		  <p class="status done">해결됐어요</p>
		  {% endif %}
		  {% if question.hashtag.all|length > 3 %}
		  <details>
			<summary>
			  <ul>
				{% for hashtag in question.hashtag.all|slice:":3" %}
				<li><p>{{hashtag}}</p></li>
				{% endfor %}
			  </ul>
			</summary>
			<ul>
			  {% for hashtag in question.hashtag.all %}
			  <li><p>{{hashtag}}</p></li>
			  {% endfor %}
			  <button
				onclick="this.closest('details').removeAttribute('open')"
			  >
				<p>접기</p>
			  </button>
			</ul>
		  </details>
		  {% elif question.hashtag.all|length > 0 %}
		  <ul class="hashtag">
			{% for hashtag in question.hashtag.all %}
			<li><p>{{hashtag}}</p></li>
			{% endfor %}
		  </ul>
		  {% endif %}
		  <ul class="button-list">
			<li>
			  <button
				type="button"
				onclick="location.href=`{% url 'get_question_update' question_id=question.id %}`"
			  >
				<svg><use href="#AiOutlineEdit" /></svg>
			  </button>
			</li>
			<li>
			  <button
				type="button"
				onclick="location.href=`{% url 'delete_question' question_id=question.id %}`"
			  >
				<svg><use href="#AiOutlineDelete" /></svg>
			  </button>
			</li>
		  </ul>
		</div>
		<h2 class="middle">{{question.title}}</h2>
		<div class="bottom">
		  <h3>{{question.username|default:"익명"}}</h3>
		  <p>·</p>
		  <p>{{question.created_at|date:"Y-m-d H:i"}}</p>
		</div>
	  </div>
	  <hr />
	  <p class="body">{{question.content}}</p>
	  <div class="foot">
		<label class="btn like">
		  <input
			type="checkbox"
			onclick="location.href=`{% url 'post_likequestion_createdelete' question_id=question.id %}?user_id=1`"
		  />
		  <svg class="outline-heart"><use href="#AiOutlineHeart" /></svg>
		  <svg class="fill-heart"><use href="#AiFillHeart" /></svg>
		  <p>{{question.likes.all|length}}</p>
		</label>
	  </div>
    </article>
  </section>
  <section id="create-answer">
    <form
	  class="detail"
	  action="{% url 'post_answer_create' %}?question_id={{question.id}}"
	  method="POST"
	>
      {% csrf_token %}
      <div class="head">
        <input
		  class="text-h3"
		  type="text"
		  name="username"
		  maxlength="10"
		  placeholder="이름"
		/>
		<button
		  class="button-list"
		  type="submit"
		>
		  <svg><use href="#AiOutlineEdit" /></svg>
		</button>
      </div>
	  <textarea
	    class="body text-body"
		name="content"
		placeholder="답변을 입력해 주세요."
		rows="4"
		required
	  ></textarea>
    </form>
  </section>
  <section id="answer">
    <ol>
      {% for answer in question.answers.all %}
      <li>
        <article class="detail">
		  <div class="head">
			<div class="bottom">
              <h3>{{answer.username|default:"익명"}}</h3>
			  <p>·</p>
              <p>{{answer.created_at|date:"Y-m-d H:i"}}</p>
			</div>
			<ul class="button-list">
			  <li>
				<button
				  type="button"
				  onclick="
					const article = this.closest('article');
					article.classList.add('hidden');
					article.nextElementSibling.classList.remove('hidden');
				  "
				>
				  <svg><use href="#AiOutlineEdit" /></svg>
				</button>
			  </li>
			  <li>
				<button
				  type="button"
				  onclick="location.href=`{% url 'delete_answer' answer_id=answer.id %}`"
				>
				  <svg><use href="#AiOutlineDelete" /></svg>
				</button>
			  </li>
			</ul>
		  </div>
          <p class="body">{{answer.content}}</p>
		  <div class="foot">
			<label class="btn like">
			  <input
				type="checkbox"
				onclick="location.href=`{% url 'post_likeanswer_createdelete' answer_id=answer.id %}?user_id=1`"
			  />
			  <svg class="outline-heart"><use href="#AiOutlineHeart" /></svg>
			  <svg class="fill-heart"><use href="#AiFillHeart" /></svg>
			  <p>{{answer.likes.all|length}}</p>
			</label>
		  </div>
        </article>
        <form
		  class="detail hidden"
		  action="{% url 'post_answer_update' answer_id=answer.id %}"
		  method="POST"
		>
          {% csrf_token %}
          <div class="head">
            <input
			  class="text-h3"
              type="text"
              name="username"
              maxlength="10"
              placeholder="이름"
              {% if answer.username %}
              value="{{answer.username}}"
              {% endif %}
            />
			<ul class="button-list">
			  <li>
				<button
				  type="submit"
				>
				  <svg><use href="#AiOutlineEdit" /></svg>
				</button>
			  </li>
			  <li>
				<button
				  type="button"
				  onclick="
					const form = this.closest('form');
					form.classList.add('hidden');
					form.previousElementSibling.classList.remove('hidden');
				  "
				>
				  <svg><use href="#AiOutlineClose" /></svg>
				</button>
			  </li>
			</ul>
          </div>
		  <textarea
		    class="body text-body"
			name="content"
			placeholder="답변을 입력해 주세요."
			rows="4"
			required
		  >{{answer.content}}</textarea>
        </form>
      </li>
      {% endfor %}
    </ol>
  </section>
</main>
{% endblock main %}

{% block aside %}
<aside>
  <section>
    <h3>이 질문도 도와주세요!</h3>
    <ol>
      {% for help_question in help_questions %}
      <li>
        <a href="{% url 'get_question_detail' question_id=help_question.id %}">
          <p>{{help_question.title}}</p>
        </a>
      </li>
      {% endfor %}
    </ol>
  </section>
</aside>
{% endblock aside %}
