{% extends "./base.html" %}

{% load static %}

{% block title %}
<title>Q&A</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/components/primary_button.css' %}" />
<link rel="stylesheet" href="{% static 'styles/components/status.css' %}" />
<link rel="stylesheet" href="{% static 'styles/pages/list.css' %}" />
{% endblock style %}

{% block banner %}
<section id="banner">
  <img alt="banner-image" src="{% static 'assets/qna_banner.png' %}" />
  <h1>Q&A</h1>
</section>
{% endblock banner %}

{% block main %}
<main>
  <table>
    <thead>
      <tr>
        <th><h3>상태</h3></th>
        <th><h3>제목</h3></th>
        <th><h3>작성자</h3></th>
        <th><h3>일시</h3></th>
      </tr>
    </thead>
    <tbody>
      {% for question in questions %}
      <tr onclick="location.href=`{% url 'get_question_detail' question_id=question.id %}`;">
        {% if not question.status %}
        <td><p class="status help">도와주세요</p></td>
        {% else %}
        <td><p class="status done">해결됐어요</p></td>
        {% endif %}
        <td><p>{{question.title}}</p></td>
        <td><p>{{question.username|default:"익명"}}</p></td>
        <td><p class="created_at">{{question.created_at|date:"Y-m-d"}}</p></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock main %}

{% block aside %}
<aside>
  <button
    class="primary_button action"
    type="button"
    onclick="location.href=`{% url 'get_question_create' %}`"
  >
    <svg><use href="#AiOutlineQuestion" /></svg>
    질문하기
  </button>
  <section>
    <h3>상태별 보기</h3>
    <ul>
      <li>
        <button
		  class="status help"
		  type="button"
		  onclick="location.href=`/qna?상태=도와주세요`"
		>
          <p>도와주세요</p>
        </button>
      </li>
      <li>
        <button
		  class="status done"
		  type="button"
		  onclick="location.href=`/qna?상태=해결됐어요`"
		>
          <p>해결됐어요</p>
        </button>
      </li>
    </ul>
  </section>
</aside>
{% endblock aside %}
