{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>update</title>
    <link rel="stylesheet" href="{% static 'css/update_style.css' %}">
  </head>
  <body>
    <h1>✍️ 글 수정하기 ✍️</h1>

    <form action="{% url 'update2' community_update.id %}" method="post">
      {% csrf_token %}
      <p>제목: <input type="text" name="title" value="{{community_update.title}}" /></p>
      본문 :
      <textarea name="content" cols="30" rows="10">{{community_update.content}}</textarea>
      <button type="submit">수정하기</button>
    </form>
  </body>
</html>