body {
  background-color: rgb(252, 224, 223);
  margin: 0;
  padding: 20px;
}

h1 {
  color: black;
  background-color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 32px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.post,
.question {
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  font-size: 25px;
  border-bottom: 2px solid rgb(221, 221, 221);
  padding-bottom: 10px;
}

ul {
  list-style: square;
}

li {
  margin-bottom: 10px;
}

a {
  color: rgb(126, 16, 16);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #005fa3;
}

span {
  display: block;
  font-size: 15px;
  color: #888;
  margin-top: 4px;
}

a.new-btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: rgb(255, 194, 192);
  color: black;
  border-radius: 12px;
  font-weight: bold;
}

a.new-btn:hover {
  background-color: #fdf0f0;
}

div.summary {
  font-size: 14px;
  color: #4e4e4e;
  background-color: #fdf0f0;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.auth-box {
  background-color: white;
  padding: 15px 20px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.auth-btn {
  display: inline-block;
  padding: 8px 14px;
  background-color: rgb(255, 194, 192);
  color: black;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
}

.auth-btn:hover {
  color: black;
  background-color: #fdf0f0;
}

.auth-btn.logout {
  background-color: rgb(255, 194, 192);
  color: black;
  padding: 6px 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  width: auto;
  align-self: flex-end;   
}

.auth-btn.logout:hover {
  background-color: #fdf0f0;
}

.auth-btn-wrap {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;  
  gap: 10px;               
}

.user-info {
  font-size: 14px;
  background-color: #fdf0f0;
  padding: 10px 15px 0px 15px;
  border-radius: 10px;
  line-height: 1.6;
  text-align: right;
}