body {
  background-color: rgb(252, 224, 223);
  margin: 0;
  padding: 20px;
}

h1 {
  color: black;
  background-color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
  font-size: 32px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.post,
.question {
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  font-size: 25px;
  border-bottom: 2px solid rgb(221, 221, 221);
  padding-bottom: 10px;
}

ul {
  list-style: square;
}

li {
  margin-bottom: 10px;
}

a {
  color: rgb(126, 16, 16);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #005fa3;
}

span {
  display: block;
  font-size: 15px;
  color: #888;
  margin-top: 4px;
}

/* 기존 코드에서 새 글 작성 버튼, summary css 추가했습니다 */

a.new-btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: rgb(255, 209, 207);
  color: black;
  border-radius: 12px;
  font-weight: bold;
}

a.new-btn:hover {
  background-color: rgb(255, 194, 192);
}

div.summary {
  font-size: 14px;
  color: #4e4e4e;
  background-color: #fdf0f0;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 20px;
}
