body {
  background-color: rgb(252, 224, 223);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  background-color: white;
  padding: 20px 30px;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 600px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(126, 16, 16);
}

form p {
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 194, 192);
  border: none;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 10px;
}

button:hover {
  background-color: #fdf0f0;
}
